/* Content */

.contentContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.welcomeAria {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.welcomeTexts {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 3%;
  mix-blend-mode: difference;
}

.welcomeTitle {
  text-align: left;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 900;
}

.welcomeParagraph {
  font-size: 25px;
  width: 80%;
  align-self: start;
  text-align: left;
  font-weight: 300;
  line-height: 140%;
}

.welcomeButtonsContainer {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.welcomeButtons {
  background-color: rgb(27, 255, 103);
  color: black;
  border-radius: 20px;
  font-size: 13px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-decoration: none;
  transition: 0.2s;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.welcomeButtons a{
  text-decoration: none;
}

.welcomeButtons:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 20px rgb(27, 255, 103);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
}

.welcomeGRIDShowContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeGRID {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 800px;
  height: 800px;
  gap: 50px;
  margin: 80px auto;
  animation: resize 5s ease infinite both;
  margin: 10%;
}

.welcomeGridItem:nth-child(even) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(27, 255, 103);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(27, 255, 103);
  background-color: rgb(27, 255, 103);
  animation: colorChange1 3s ease infinite both;
}

.welcomeGridItem:nth-child(odd) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(11, 103, 42);
  box-shadow: 0px 0px 20px rgb(11, 103, 42);
  background-color: rgb(11, 103, 42);
  border-radius: 20px;
  animation: colorChange2 5s ease infinite both;
}

/* Content Animations */

@keyframes resize {

  0% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  25% {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr;
  }
  
  50% {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }
  
  75% {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
  }
  
  100% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}


@keyframes rotate-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange1 {
  0% {
    background-color: rgb(198, 255, 27);
  }
  
  25% {
    background-color: rgb(80, 255, 27);
  }
    
  50% {
    background-color: rgb(0, 148, 49);
  }
  
  75% {
    background-color: rgb(27, 255, 187);
  }
  
  100% {
    background-color: rgb(160, 255, 27);
  }
}

@keyframes colorChange2 {
  0% {
    background-color: rgb(198, 255, 27);
  }
  
  25% {
    background-color: rgb(80, 255, 27);
  }
    
  50% {
    background-color: rgb(0, 148, 49);
  }
  
  75% {
    background-color: rgb(27, 255, 187);
  }
  
  100% {
    background-color: rgb(160, 255, 27);
  }
}

/* Content Animations Over */

/* Content Over */


/* If Width <= 1800px */

@media (width <= 1800px) {

  .welcomeGRID {
    width: 630px;
    height: 630px;
    gap: 30px;
  }

  .welcomeAria {
    width: 85%;
  }
  
  .welcomeTexts {
    gap: 35px;
  }
  
  .welcomeTitle {
    text-align: center;
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 900;
  }
  
  .welcomeParagraph {
    font-size: 24px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
  }
  
  .welcomeButtonsContainer {
    flex-direction: column;
    gap: 40px;
  }
  
  .welcomeButtons {
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
  }
}

/* If Width <= 1800px Over */


/* If Width <= 1280px */

@media (width <= 1280px) {

  .circle-cursor {
    display: none;
  }

  .contentContainer {
    flex-direction: column;
  }

  .welcomeGRIDShowContainer {
    display: none;
  }

  .welcomeAria {
    width: 85%;
  }
  
  .welcomeTexts {
    gap: 30px;
  }

  .welcomeContainer {
    margin-top: 10%;
    align-items: flex-start;
  }
  
  .welcomeTitle {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
  }
  
  .welcomeParagraph {
    font-size: 23px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
  }
  
  .welcomeButtonsContainer {
    flex-direction: column;
    gap: 40px;
  }
  
  .welcomeButtons {
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
  }
  
  .welcomeButtonsContainer .welcomeButtons:hover {
    transform: none;
    box-shadow: none;
  }
}

/* If Width <= 1280px Over */


/* If Width <= 1024px */

@media (width <= 1024px) {

  .welcomeAria {
    width: 95%;
  }
  
  .welcomeTexts {
    gap: 30px;
  }
  
  .welcomeTitle {
    font-size: 30px;
  }
  
  .welcomeParagraph {
    font-size: 20px;
    width: 100%;
  }
  
  .welcomeButtonsContainer {
    gap: 30px;
  }
  
  .welcomeButtons {
    font-size: 12px;
    width: 100%;
  }
}

/* If Width <= 1024px Over */


/* If Width <= 400px */

@media (width <= 400px) {
  .contentContainer {
    margin-top: 10%;
    margin-bottom: 70%;
  }
}

/* If Width <= 400px Over */
