/* If Width <= 1800px */

@media (width <= 1800px) {

  .welcomeGRID {
    width: 630px;
    height: 630px;
    gap: 30px;
  }

  .welcomeAria {
    width: 85%;
  }
  
  .welcomeTexts {
    gap: 35px;
  }
  
  .welcomeTitle {
    text-align: center;
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 900;
  }
  
  .welcomeParagraph {
    font-size: 24px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
  }
  
  .welcomeButtonsContainer {
    flex-direction: column;
    gap: 40px;
  }
  
  .welcomeButtons {
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
  }
}

/* If Width <= 1800px Over */


/* If Width <= 1280px */

@media (width <= 1280px) {

  .circle-cursor {
    display: none;
  }

  .navbar a:hover {
    color: whitesmoke;
  }
  
  .navbar a::after {
    display: none;
  }
  
  .navbar a:hover::after {
    display: none;
  }

  .contentContainer {
    flex-direction: column;
  }

  .welcomeGRIDShowContainer {
    display: none;
  }

  .welcomeAria {
    width: 85%;
  }
  
  .welcomeTexts {
    gap: 30px;
  }

  .welcomeContainer {
    margin-top: 10%;
    align-items: flex-start;
  }
  
  .welcomeTitle {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
  }
  
  .welcomeParagraph {
    font-size: 23px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-weight: 300;
    line-height: 140%;
  }
  
  .welcomeButtonsContainer {
    flex-direction: column;
    gap: 40px;
  }
  
  .welcomeButtons {
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
  }
  
  .welcomeButtonsContainer .welcomeButtons:hover {
    transform: none;
    box-shadow: none;
  }
}

/* If Width <= 1280px Over */


/* If Width <= 1024px */

@media (width <= 1024px) {

  .welcomeAria {
    width: 95%;
  }
  
  .welcomeTexts {
    gap: 30px;
  }
  
  .welcomeTitle {
    font-size: 30px;
  }
  
  .welcomeParagraph {
    font-size: 20px;
    width: 100%;
  }
  
  .welcomeButtonsContainer {
    gap: 30px;
  }
  
  .welcomeButtons {
    font-size: 12px;
    width: 100%;
  }
}

/* If Width <= 1024px Over */


/* If Width <= 400px */

@media (width <= 400px) {
  .contentContainer {
    margin-top: 10%;
  }
}

/* If Width <= 400px Over */
